---
import Skills from "@components/Skills.astro";
import ThemeButton from "@components/ThemeButton.astro";
import LinkChip from "@components/LinkChip.astro";
import Contacts from "@components/Contacts.astro";
---

<div class="flex h-full w-full flex-col items-center justify-center">
  <Skills skills={["React", "Typescript", "Python"]} />
  <ThemeButton />
  <LinkChip
    name="React"
    leadingIcon="/src/assets/icons/react.png"
    highlighted
  />
  <Contacts class="pt-4" />
</div>
