---
type Props = {
  sectionSelector?: string;
  extraWidth?: number;
};
---

<div
  id="menu"
  class="relative hidden flex-col gap-4 text-2xl lg:flex"
  data-section-selector={Astro.props.sectionSelector}
  data-extra-width={Astro.props.extraWidth}
>
  <div
    id="menu-indicator"
    class="absolute -left-1 -z-10 h-10 bg-blue-100 from-mygrad-0 to-mygrad-100 transition-all duration-300 dark:bg-gradient-to-r"
    style={{
      width: 0,
    }}
  >
  </div>
</div>
<script>
  const menu = document.querySelector<HTMLDivElement>("#menu");
  const indicator = document.querySelector<HTMLDivElement>("#menu-indicator");
  const sectionSelector = menu?.dataset.sectionSelector ?? "h2";
  const extraWidth = Number(menu?.dataset.extraWidth ?? 0);
  const headers = document.querySelectorAll<Element>(sectionSelector);
  try {
    if (!menu) throw new Error("Menu not found");
    if (!indicator) throw new Error("Indicator not found");
    if (headers.length === 0) throw new Error("No headers found");

    const menuItems = [] as HTMLAnchorElement[];
    // Add the actual menu item
    for (const header of headers) {
      const a = document.createElement("a");
      a.href = "#" + header.id;
      a.id = "a-" + header.id;
      // Menu item words should be capitalized
      a.textContent = (header.textContent ?? "")
        .split(" ")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(" ");
      a.classList.add("w-fit");
      menu?.appendChild(a);
      menuItems.push(a);
      console.log("Attached menu item for", header.id);
    }

    const scrollListener = () => {
      // Find section
      const height = window.innerHeight;
      let curSection = 0;
      headers.forEach((header, index) => {
        if (header.getBoundingClientRect().top < height * 0.4) {
          curSection = index;
        }
      });

      // Update indicator based on menu item
      const menuItem = menuItems[curSection];
      indicator.style.top = menuItem.offsetTop - 4 + "px";
      indicator.style.width = menuItem.offsetWidth + extraWidth + "px";
    };
    scrollListener();

    // Add the scroll listener
    window.addEventListener("scroll", scrollListener);
  } catch (e) {
    console.error(e);
    alert("Error in Menu.astro");
  }
</script>
