---
import ThemeButton from "@components/ThemeButton.astro";
import "@fontsource/inter";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remi Vaughan's Portfolio</title>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <script>
      let theme = document.cookie.includes("theme=dark")
        ? "dark"
        : document.cookie.includes("theme=light")
          ? "light"
          : null;
      if (theme === null) {
        theme = window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      }
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="dark:bg-zinc-900">
    <script>
      0;
    </script>
    <div>
      <div class="static p-4 pb-1 lg:fixed">
        <ThemeButton />
      </div>
      <div class="page-container dark:bg-zinc-900 dark:text-zinc-300">
        <slot />
      </div>
    </div>
  </body>
</html>
